.tarjetas {
  display: flex;
  flex-wrap: wrap;
}

.tarjetas div {
  width: 15vw;
  height: 25vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffcc00;
  margin-bottom: 30px;
  border-radius: 10%;
  padding: 1em;
}
.tarjetas h1 {
  font-size: 1.5em;
  margin: 10px;
  color: black;
  text-align: center;
  font-family: "Dela Gothic One", cursive;
}
.tarjetas {
  font-size: 1em;
}
.tarjetas ul {
  padding: 0 2em;
}
dt::after {
  content: normal;
  background-color: yellow;
  height: 100px;
  width: 100px;
}
dd {
  color: white;
  margin: 0;
  text-align: center;
}

.tarjetas div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tarjetas div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: scroll;
}
